.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 1000; /* Asegura que el navbar esté encima de otros elementos */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-brand {
    color: rgb(236, 236, 239);
    text-decoration: none;
    font-size: 1.5em;
  }
  
  input[type="search"] {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: yellow;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: orange;
  }

  .navbar-title {
    color: #ede8e8;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
  }
  